<section class="featuredBrands__section page-width">
  <h2 class="featuredBrands__title">{{ section.settings.heading }}</h2>
  <div style="Grid">
    
  </div>
</section>
{% schema %}
  {
    "name": "Featured logo brands",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
