<section class="ProductsCarousel">
    {% assign collection = {{ section.settiongs.collection}} %}
    <h2 class="title">{{section.settings.title}}</h2>

    {% for product in collection.product %}
        <div class="content">
            
        </div>        
    {% endfor %}
</section>