<section class="newsletter-section">
    <h2>{{section.settings.heading}}</h2>
    <div class="newsletter_section_txt ">
        <p>{{section.settings.content}}<br> {{section.settings.content2}}</p>
    </div>
    <div class="newsletter">
        <form method="post" action="" accept-charset="UTF-8" class="contact-form" data-omnisend-captured-form="true">
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[accepts_marketing]" value="true">
                <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="input-group">
            <input type="email" value="" placeholder="Email" name="contact[email]" aria-label="Email" autocorrect="off" autocapitalize="off" required="">
            <span class="input-group__btn-wrapper">
                <button type="submit" name="subscribe" id="" class="input-group__btn" value="">
                <span class="visually-hidden">{{section.settings.text1}}</span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" viewBox="0 0 12 12">
                    <path d="M1.07 3.59a.75.75 0 01.984-.067l.076.067L6.02 7.478l3.89-3.89a.75.75 0 01.984-.066l.077.067a.75.75 0 01.067.984l-.067.076-4.42 4.42a.75.75 0 01-.984.068l-.077-.067-4.42-4.42a.75.75 0 010-1.06z"></path>
                    </svg>
                </button>
            </span>
            </div>
        </form>
    </div>
</section>

{% schema %}
{
  "name": "Newsletter banner",
  "class": "newsletter",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "placeholder": "heading",
      "info": "Place the heading of your newsletter section"
    },
    {
      "type": "text",
      "id": "content",
      "placeholder": "Content",
      "default": "First line"
    },
    {
      "type": "text",
      "id": "content2",
      "placeholder": "content2",
      "default": "Second line of the section"
    },
    {
      "type": "text",
      "id": "text1",
      "placeholder": "text1"
    }
  ]
}
{% endschema %}