<div class="ticker-carousel">
    <h2 class="title">{{section.settings.title}}</h2>
    
    <div class="carousel__view">
      <ul class="carousel__items">
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
              <img src="https://images.pexels.com/photos/3369578/pexels-photo-3369578.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500" height="749" />
              <h3>Diver</h3>
            </div>
          </div>
        </li>
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
              <img src="https://images.pexels.com/photos/10690040/pexels-photo-10690040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500" height="375" />
              <h3>Skull</h3>
            </div>
          </div>
        </li>
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
              <img src="https://images.pexels.com/photos/3369578/pexels-photo-3369578.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500" height="749" />
              <h3>Ocean</h3>
            </div>
          </div>
        </li>
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
              <img src="https://images.pexels.com/photos/10690040/pexels-photo-10690040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500" height="375" />
              <h3>Desert</h3>
            </div>
          </div>
        </li>
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
              <img src="https://images.pexels.com/photos/3369578/pexels-photo-3369578.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500" height="749" />
              <h3>Lone</h3>
            </div>
          </div>
        </li>
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
              <img src="https://images.pexels.com/photos/10690040/pexels-photo-10690040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500" height="375" />
              <h3>Dune</h3>
            </div>
          </div>
        </li>
        <li class="carousel__item">
          <div class="slide">
            <div class="card">
              <img src="https://images.pexels.com/photos/3369578/pexels-photo-3369578.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="500" height="749" />
              <h3>Deep</h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="carousel__controls">
      <div class="progress-bar"><span class="progress"></span></div>
  
      <button aria-label="previous" aria-disabled="true" class="prev disabled"><span class="icon icon-arrow-left">&lt;</span></button>
      <button aria-label="next" class="next"><span class="icon icon-arrow-right">&gt;</span></button>
    </div>
  </div>
  <style>

.ticker-carousel {
  margin: auto;
  width: 100%;
  padding: 0;
}
.carousel__view {
  width: calc(100% + 14.375rem);
  height: 20rem;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel__items {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  transition: transform 0.3s;
  transform: translateX(0px);
  list-style: none;
  height: 20rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 0;
  background: #fff;
}
.carousel__item {
  width: 100%;
  max-width: 260px;
  height: 20rem;
}

.slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  padding: 0.5rem;
}
.carousel__item:nth-child(2n+1) .slide {
  background-color: limegreen;
}
.carousel__item:nth-child(2n+2) .slide {
  background-color: deeppink;
}
.slide .card {
  transition: all 0.3s;
  width: 100%;
  padding-top: 0.5rem;
}
.slide:hover .card {
  margin-top: -1.5rem;
}
.slide img {
  object-fit: cover;
  width: 100%;
  height: 15rem;
}
.slide h3 {
  align-self: flex-end;
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  font-family: sans-serif;
  transition: all 0.3s;
}

.carousel__controls {
  padding: 1.8rem 0 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}
.carousel__controls button {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.8rem;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}
.carousel__controls button.disabled {
  opacity: 0.3;
  cursor: default;
}

.carousel__controls .progress-bar {
  flex-grow: 1;
  height: 1rem;
  background: grey;
  position: relative;
}
.carousel__controls .progress-bar .progress {
  background: lime;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 0.6s;
}

@media screen and (min-width: 871px) {
  .ticker-carousel {
    width: calc((410px*2));
  }
  .carousel__view {
    width: calc((410px*2) + 14.375rem);
    height: 30rem;
  }
  .carousel__item {
    width: 410px;
    max-width: none;
    height: 30rem;
  }
}

@media screen and (min-width: 991px) {
  .ticker-carousel {
    width: calc((310px*3));
  }
  .carousel__view {
    width: calc((310px*3) + 14.375rem);
    height: 25rem;
  }
  .carousel__item {
    width: 310px;
    max-width: none;
    height: 25rem;
  }
}

@media screen and (min-width: 1181px) {
  .ticker-carousel {
    width: calc((287.5px*4));
  }
  .carousel__view {
    width: calc((287.5px*4) + 86.25rem);
    height: 22rem;
  }
  .carousel__item {
    width: 287.5px;
    max-width: none;
    height: 22rem;
  }
}

@media screen and (max-width: 749px) {
  .carousel__controls {
    display: block;
    text-align: center;
  }
  .carousel__controls .progress-bar {
    margin-bottom: 1.5rem;
  }

  .carousel__controls button {
    font-size: 3rem;
  }
  .carousel__controls button.next {
    margin-left: 2.5rem;
  }
}
  </style>
   
<script>
const carousels = document.querySelectorAll('.ticker-carousel');

function carouselize(visibleSlides, slideWidth) {
  carousels.forEach((carousel) => {
    var itemList = carousel.querySelector('.carousel__items');
    var slides = carousel.querySelectorAll('.slide');
    var slideCount = carousel.querySelectorAll('.slide').length;
    var itemListWidth = slideCount * slideWidth;
    var visibleSlidesWidth = slideWidth * visibleSlides;
    var itemListSteps = 0;
    var itemListStepsTotal = slideCount - visibleSlides;
    var elemWidth = carousel.getBoundingClientRect().width;
    var lastSlideOffset = itemListWidth - elemWidth;
    var prevControl = carousel.querySelector('.carousel__controls button.prev');
    var nextControl = carousel.querySelector('.carousel__controls button.next');
    var progressBar = carousel.querySelector('.progress-bar');

    itemList.style.width = `${itemListWidth}px`;
    itemList.style.transform = `translateX(0px)`;
    progressBar.querySelector('.progress').style.width = `${((itemListSteps+1) / (itemListStepsTotal+1)) * 100}%`;
    prevControl.classList.add('disabled');
    prevControl.setAttribute('aria-disabled', 'true');
    nextControl.classList.remove('disabled');
    nextControl.removeAttribute('aria-disabled');

    prevControl.onclick = function() {
      if (itemListSteps != 0) {
        itemListSteps--;
        moveProductList();

        nextControl.classList.remove('disabled');
        nextControl.removeAttribute('aria-disabled');
      }
    }
    nextControl.onclick = function() {
      if (itemListSteps < (slideCount - visibleSlides)) {
        itemListSteps++;
        moveProductList();

        prevControl.classList.remove('disabled');
        prevControl.removeAttribute('aria-disabled');
      }
    }
    
    function moveProductList() {
      if (itemListSteps == itemListStepsTotal) {
        nextControl.classList.add('disabled');
        nextControl.setAttribute('aria-disabled', 'true');

        itemList.style.transform = `translateX(-${lastSlideOffset}px)`;
      } else if (itemListSteps == 0) {
        prevControl.classList.add('disabled');
        prevControl.setAttribute('aria-disabled', 'true');

        itemList.style.transform = `translateX(-${slideWidth*itemListSteps}px)`;
      } else {
        itemList.style.transform = `translateX(-${slideWidth*itemListSteps}px)`;
      }

      progressBar.querySelector('.progress').style.width = `${((itemListSteps+1) / (itemListStepsTotal+1)) * 100}%`;        
    }
  });
}

if (window.innerWidth > 1180) {
  carouselize(4, 287.5);
} else if ((window.innerWidth < 1181) && (window.innerWidth > 990)) {
  carouselize(3, 310);
} else if ((window.innerWidth < 991) && (window.innerWidth > 870)) {
  carouselize(2, 410);
} else if ((window.innerWidth < 871) && (window.innerWidth > 650)) {
  carouselize(3, 260);
} else if ((window.innerWidth < 651) && (window.innerWidth > 500)) {
  carouselize(2, 260);
} else if (window.innerWidth < 501) {
  carouselize(1, 260);
}

window.addEventListener('resize', function(event) {
  if (window.innerWidth > 1180) {
    carouselize(4, 287.5);
  } else if ((window.innerWidth < 1181) && (window.innerWidth > 990)) {
    carouselize(3, 310);
  } else if ((window.innerWidth < 991) && (window.innerWidth > 870)) {
    carouselize(2, 410);
  } else if ((window.innerWidth < 871) && (window.innerWidth > 650)) {
    carouselize(3, 260);
  } else if ((window.innerWidth < 651) && (window.innerWidth > 500)) {
    carouselize(2, 260);
  } else if (window.innerWidth < 501) {
    carouselize(1, 260);
  }
}, true);
</script>

{% schema %}
{
  "name": "Carousel Test",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "max_blocks": 5,
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Carousel Test",
      "settings": {
        "title": "Carousel"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}