img.image__bg {
    position: absolute;
    margin-left: 13%;
    margin-top: -1.5rem;
    width: 1200px;
}
.divBG__text{
    z-index: 100;
}
section#shopify-section-1659723234a7a8590a {
    margin-top: 20rem;
    margin-bottom: 20rem;
}
.bgimagetext__title{
    font-size: 52px;
    text-transform: capitalize;
    padding-bottom: 1.5rem;
    text-align: left;
    padding-top: 5rem;
}
.bgimagetext__text{
    font-size: 26px;
    text-align: left;
    width: 530px;
    padding-bottom: 2rem;
}
.bgimagetext__btn1{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0;
    margin-left: -3rem !important;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 15px;

}
.bgimagetext__btn2{
    text-transform: capitalize;
    color: #4FD6C5;
    font-size: 24px;
    border: 2.5px solid #4FD6C5;
    padding: 15px;
    background-color: transparent;
    letter-spacing: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.image_bg2{
    position: absolute;
    right: 29rem;
    margin-top: 1rem;
    width: 600px;
}
.imageSectionCustom{
    position: absolute;
    width: 600px;
    margin-top: -4rem;
    margin-left: -6rem;
}