.desktopWidth{
    max-width: 1148px;
    width: 100%;
}
div#CollectionSection-1659654021f84a2341 .image-wrap{
    background-color:#FBEFEE;
}
section#shopify-section-16597157893e36319e,
div#shopify-section-1659654021f84a2341,
div#shopify-section-1659648438f18bc36e,
section#shopify-section-16596436592d19b4a5 {
    overflow: hidden;
}
@media (min-width:1500px){
    
}
@media (min-width:1600px){
 /*    .page-width {
        max-width: 1600px;
    } */
}
@media (min-width:1700px){

}
@media (min-width:1800px){
   /*  .page-width {
        max-width: 1500px;
    } */
}
@media (min-width:1900px){
    
}
@media (min-width:2000px){
    
}
@media (min-width:2100px){
    
}
@media (min-width:2200px){
    
}
@media (min-width:2300px){
    
}
@media (min-width:2400px){
    
}
@media (min-width:2500px){
    
    .checked{
        font-size: 25px;
        margin: auto 3px;
    }
    div#CollectionSection-1659654021f84a2341 .page-width{
        padding-bottom: 50px;
    }
}
@media (min-width:2560px){
   /*  page-width {
        max-width: 2560px;
    } */
    div#CollectionSection-1659648438f18bc36e{
        background-size: 550px;
    }
    div#CollectionSection-1659648438f18bc36e h2 {
        font-size: 60px;
        text-transform: capitalize;
    }
    div#CollectionSection-1659648438f18bc36e .page-width{
        max-width: 1760px;
    }
    .grid-product__title.grid-product__title--body {
        font-size: 29px;
        max-width: 473px;
        margin-left: auto;
        letter-spacing: 2.1px;
        margin-right: auto;
    }
    .grid-product__price {
        font-size: 28px;
        font-weight: 700;
    }
    .article__grid-meta {
        position: absolute;
        margin-top: -20rem;
        margin-left: 2rem;
        width: 300px;
    }

}