@media(min-width: 1140px){
    .sectionTitle{
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.085em;
        margin-top: 100px;
    }
    .logoContainer{
        max-width: 1178px;
        margin-left: auto;
        margin-right: auto;
    }
    .itemImageContainer{
        min-height: 25px;
        min-width: 52px;
        width: 100%;
        height: 100%;
    }
}
@media(min-width:768px){
    .sectionTitle{
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.085em;
        margin-top: 80px;
    }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}




.carousel {
/*  position: relative;
   width: 50%;
  height: 50px;  */
  margin: 0 auto;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}

.slide {
  height: 100%;
  /* background-color: black; */
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
}


/* .nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
} */