.home-hero-image {
    margin-top: -10rem;
}
#hero-header{
    z-index:10000; 
    width:100vw; 
    height:75vh; 
    background-size: cover;
}
.CTA-btn{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    margin-left: 148px;
    background: #552473;
    color: white;
    padding: 13px;
}
.CTA-btn:hover{
    color: white;

}
.btn-div{
    margin-top: 22px;
}
img.small--hide {
    width: 70px;
}

@media (max-width: 1139px){
    .CTA-title {
        padding-top: 12rem;
        max-width: 45%;
        /* margin-left: 148px; */
        line-height: 26px;
        font-size: 22px;
    }  
    .CTA__content {
        max-width: 42%;
        /* margin-left: 148px; */
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
    #hero-header{
        height: 85vh;
    }
    
}

@media (max-width:1024px){
    #hero-header{
        height: 56vh;
    }
    a.site-nav__link.site-nav__link--underline {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .5px;
    }
}

@media (min-width: 1040px){
    #hero-header{
        height: 60vh;
    }
}
@media (min-width: 1140px){
    #hero-header{
        height: 65vh;
    }
    .CTA-title {
        padding-top: 17rem;
        max-width: 630px;
        margin-left: 148px;
        line-height: 46.96px;
        font-size: 40px;
    }   
    .CTA__content {
        max-width: 466px;
        margin-left: 148px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }
}
@media(min-width: 1300px){
    #hero-header{
        height: 74vh;
    }
}
@media(min-width:1440px){
    .z-10.h-full.flex.flex-col.space-y-4.px-5.items-center.justify-center {
        max-width: 1178px;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
    .fixedWidthBox {
        max-width: 1178px;
        margin-left: 10%;
    }
    .page-width{
        padding: 0 148px;
    }
    .CTA-title, 
    .CTA__content{
        margin-left: 36px;
    }
}
@media (min-width: 1500px){
    #hero-header{
        height: 85vh;
    }
}
@media(min-width:2000px){
    a.site-nav__link.site-nav__link--underline {
        font-size: 20px;
        font-weight: 500;
    }
    img.small--hide {
        width: 92px;
    }
}
@media(min-width: 2560px){
    a.site-nav__link.site-nav__link--underline {
        font-size: 27px;
    }
}