.highlights--16597157893e36319e {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.img__Highlight{
    width: 360px !important;
    height: auto;
}
.highligh__item {
    flex: 3;
    margin: auto 90px;
}

.heading--highlights {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 26px;
    line-height: 140%;
    color: #361e45;
    max-width: 350px;
    text-transform: uppercase;
}